<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="tTalk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <tTalk.Properties.Settings>
            <setting name="text_softalk" serializeAs="String">
                <value />
            </setting>
            <setting name="check_other" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="check_only_mentions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check_replace_url" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="text_replace_url" serializeAs="String">
                <value>URL</value>
            </setting>
            <setting name="check_reverse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="num_count" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="num_interval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="num_last_twit_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text_format" serializeAs="String">
                <value>%T %s %t</value>
            </setting>
            <setting name="check_auto_login" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="twitter_target" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="twitter_target_list_name" serializeAs="String">
                <value />
            </setting>
            <setting name="oauth_access_token" serializeAs="String">
                <value />
            </setting>
            <setting name="oauth_access_token_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="softalk_minimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tasktray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="no_tasktray_icon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="run_as_startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="run_minimize" serializeAs="String">
                <value>True</value>
            </setting>
        </tTalk.Properties.Settings>
    </userSettings>
</configuration>
